/* Reset de base */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* Variables css */
:root {
    --White: hsl(0, 0%, 100%);

    --Stone-100: hsl(30, 54%, 90%);
    --Stone-150: hsl(30, 18%, 87%);
    --Stone-600: hsl(30, 10%, 34%);
    --Stone-900: hsl(24, 5%, 18%);

    --Brown-800: hsl(14, 45%, 36%);

    --Rose-800: hsl(332, 51%, 32%);
    --Rose-50: hsl(330, 100%, 98%);
}

/* css */

body {
    display: flex;
    background-color: var(--Stone-100);
    justify-content: center;
    align-items: center;
}

.container {
    width: 804px;
    height: auto;
    margin: 60px auto;
    border-radius: 26px;
    padding: 44px 44px 20px 44px;
    background-color: var(--White);
}

header img {
    width: 100%;
    border-radius: 16px;
}

h1 {
    color: var(--Stone-900);
    font-size: 36px;
    font-family: "Young serif", serif;
    margin-top: 30px;
    font-weight: 400;
}

.intro {
    font-family: "Outfit", serif;
    margin-top: 24px;
}

.prepa {
    font-family: "Outfit", serif;
    padding: 16px 0 6px 0px;
    background-color: var(--Rose-50);
    margin-top: 24px;
    border-radius: 6px;
}

h2 {
    font-size: 20px;
    margin-left: 20px;
    margin-bottom: 15px;
    color: var(--Rose-800);
}

.time {
    margin-left: 42px;
    color: var(--Stone-900);
}

.time li {
    margin-top: 10px;
    padding-bottom: 8px;
}

h3 {
    margin: 30px 0 30px 0;
    font-size: 30px;
    font-family: "Young serif", serif;
    color: var(--Brown-800);
    font-weight: 400;
    padding-top: 20px;
}

.ingredients ul {
    padding-left: 24px;
}

.lista li {
    padding-bottom: 28px;
    font-family: "Outfit", serif;
    color: var(--Stone-900);
}

.lista li::marker {
    color: var(--Brown-800);
    font-weight: bolder;
}

.border {
    border-top: thin solid var(--Stone-150);
    margin-top: 10px;
}

.instructions ol {
    padding-left: 24px;
}

.bold {
    font-weight: bold;
}

.nutri {
    font-family: "Outfit", serif;
    color: var(--Stone-900);
}

.type {
    font-family: "Outfit", serif;
    padding-left: 24px;
    color: var(--Stone-900);
    padding-top: 20px;
}

.value {
    font-family: "Outfit", serif;
    padding-left: 270px;
    font-weight: bold;
    color: var(--Brown-800);
    padding-top: 20px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

.lined {
    border-bottom: thin solid var(--Stone-150);
}

/* tr:not(:last-child) { 
    border-bottom: thin solid var(--Stone-150);
} relique */

td {
    padding: 10px;
}

/* mobile */
@media screen and(max-width: 580px) {
    .lined {
        border-bottom: 0;
    }
}
