/* Reset de base */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* Variables css */
:root {
    --White: hsl(0, 0%, 100%);

    --Stone-100: hsl(30, 54%, 90%);
    --Stone-150: hsl(30, 18%, 87%);
    --Stone-600: hsl(30, 10%, 34%);
    --Stone-900: hsl(24, 5%, 18%);

    --Brown-800: hsl(14, 45%, 36%);

    --Rose-800: hsl(332, 51%, 32%);
    --Rose-50: hsl(330, 100%, 98%);
}

/* css */

body {
    display: flex;
    background-color: var(--Stone-100);
    justify-content: center;
    align-items: center;
}

.container {
    width: 804px;
    height: 3000px;
    margin: 60px auto;
    border-radius: 26px;
    padding: 44px 44px 20px 44px;
    background-color: var(--White);
}

header img {
    width: 100%;
    border-radius: 16px;
}

h1 {
    color: var(--Stone-900);
    font-size: 36px;
    font-family: "Young serif", serif;
    padding: 30px 0 30px 0;
    font-weight: 400;
}

.intro {
    font-family: Outfit, serif;
    padding: 30px 0 30px 0;
}

.prepa {
    font-family: Outfit, serif;
    padding: 15px 0 30px 0px;
    background-color: var(--Rose-50);
}

h2 {
    font-size: 20px;
    padding-left: 20px;
    padding-bottom: 15px;
    color: var(--Rose-800);
}

.time {
    padding-left: 42px;
    color: var(--Stone-900);
}

.time li {
    padding: 10px 0 10px 0;
}

h3 {
    padding: 26px 0 30px 0;
    font-size: 30px;
    font-family: "Young serif", serif;
    color: var(--Brown-800);
    font-weight: 400;
}

.ingredients ul {
    padding-left: 24px;
}

.lista li {
    padding-bottom: 28px;
    font-family: Outfit, serif;
    color: var(--Stone-900);
}

.border {
    border-top: thin solid var(--Stone-150);
}

.instructions ol {
    padding-left: 24px;
}

.listb li {
    padding-bottom: 28px;
    font-family: Outfit, serif;
    color: var(--Stone-900);
}

.bold {
    font-weight: bold;
}

.nutri {
    font-family: Outfit, serif;
    padding-bottom: 20px;
    color: var(--Stone-900);
}

.type {
    font-family: Outfit, serif;
    padding-bottom: 20px;
    padding-left: 24px;
    color: var(--Stone-900);
}

.value {
    font-family: Outfit, serif;
    padding-bottom: 20px;
    padding-left: 270px;
    font-weight: bold;
    color: var(--Brown-800);
}

table .lined {
    border: 1px solid var(--Stone-150);
}

/*  
header {
    display: flex;
    flex-direction: column;
    background-color: var(--White);
    position: relative;
    align-self: center;
}

h1 {
    align-self: left;
    display: inline-flex;
    font-family: "Young Serif", serif;
    font-size: 22px;
}

img {
    align-self: center;
    width: 100%;
    height: 250px;
}

p {
    font-size: 16px;
}*/
/* mobile */
@media screen and(max-width: 580px) {
}
